$color-primary: #e8da3e;
$color-white: #FFF;
$color-gray: #6B6B6B;

@mixin flexBox() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.example-card {
  max-width: 350px;
  height: 500px;
}

.cardActions {
  @include flexBox;
  flex-direction: row;

  width: 50%;
  .buttonEdit {
    background-color: $color-primary;
  }
}

strong {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.15px;

  color: #6B6B6B;
}

img {
  height: 200px;
}