.example-card {
  max-width: 500px;
  height: 500px;
}

strong{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 45px;
  letter-spacing: 0.15px;

  color: #6B6B6B;
}
